
.border > * {
    border: 1px solid red;
}





/* COMPOSITION */

.vertical_flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.horizontal_flow > * + * {
    margin-left: .5em;
}



.flex-column {
    display: flex;
    flex-direction: column;
}

.align_items-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    margin: auto;
}

.card {
    margin-top: 30%;

    /*max-width: 30%;*/
    min-width: 30%;

    background-color: hsl(40, 100%, 60%);
}

/* UTILITY */

.upcase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.cursor-pointer {
    cursor: pointer;
}

/* BLOCK */

.type {
    background-color: rgb(96, 192, 192);

    padding: .1em;
    border: 1px solid black;
    border-radius: .4em;
}



/* EXCEPTION */
