
.border > * {
    border: 1px solid red;
}





/* COMPOSITION */

.vertical_flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.horizontal_flow > * + * {
    margin-left: .5em;
}



.flex-column {
    display: flex;
    flex-direction: column;
}

.align_items-center {
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.center {
    margin: auto;
}

.card {
    margin-top: 10%;

    /*max-width: 30%;*/
    min-width: 30%;

    background-color: hsl(39, 100%, 75%);

    padding: 1rem;
    border-radius: 1rem;
}

/* UTILITY */

.upcase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.cursor-pointer {
    cursor: pointer;
}

.hug-content {
    width: fit-content;
}

.padding_inline-1rem {
    padding-inline: 1rem;
}

.padding_block-05rem {
    padding-block: .5rem;
}

.background-grey {
    background-color: hsl(0, 0%, 95%);
}

.border_radius-1rem {
    border-radius: .5rem;
}

/* BLOCK */

.type {
    background-color: rgb(96, 192, 192);

    padding: .1em;
    border: 1px solid black;
    border-radius: .4em;
}

.ability {
    background-color: hsl(0, 0%, 75%);

    padding: .1em;
    border: 1px solid black;
    border-radius: .4em;
}


/* EXCEPTION */

.ability[aria-type="hidden-ability"] {
    background-color: hsl(0, 0%, 45%);
}